<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conócenos</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'estilo_conocenos.css' %}">
   
</head>
<body>

    <h1>Conócenos</h1>

    <div class="informacion">
        <label for="mision"></label>
        <p id="mision">En FlavorQuest queremos guiar a los amantes de la comida en un viaje gastronómico, ofreciendo reseñas detalladas e imparciales de diversos restaurantes. Consideran que la comida es una expresión artística y cultural que merece ser explorada y disfrutada plenamente. Su compromiso es ser la principal fuente de información gastronómica,
            
            destacando la singularidad de cada establecimiento y capturando la esencia de sus creaciones culinarias con honestidad e integridad. Además, buscan construir una comunidad vibrante de entusiastas gastronómicos que comparten experiencias y celebran la diversidad culinaria. Al abrazar la diversidad de cocinas y tradiciones, aspiran a ser un recurso inspirador que empodera a
            
            los usuarios para explorar y saborear la riqueza de la escena gastronómica mundial, creando recuerdos duraderos a través de experiencias culinarias excepcionales.</p>
    </div>

    <!-- <div class="informacion">
        <label for="vision">Visión:</label>
        <p id="vision">"Visión de TasteTrekker: Nos visualizamos como la plataforma líder a nivel mundial, conectando a los amantes de la comida con experiencias culinarias excepcionales. Aspiramos a ser el destino digital definitivo para aquellos que buscan descubrir, explorar y apreciar la diversidad gastronómica de todo el mundo.

            En nuestra visión del futuro, [Nombre de la Página] será reconocida por su compromiso inquebrantable con la calidad, la autenticidad y la innovación en el ámbito de las reseñas de restaurantes. Buscamos ser una fuente de inspiración constante para los aficionados a la gastronomía, brindándoles acceso a una comunidad activa y diversa donde puedan compartir sus experiencias, descubrimientos y pasiones culinarias.
            
            Visualizamos un espacio en línea donde la exploración de restaurantes se convierta en una experiencia interactiva y enriquecedora. A medida que evolucionamos, nos esforzamos por integrar tecnologías emergentes para ofrecer a nuestros usuarios herramientas innovadoras que faciliten la toma de decisiones y mejoren su experiencia gastronómica.
            
            Además, aspiramos a ser un catalizador para la industria de la restauración, colaborando con chefs, propietarios de restaurantes y amantes de la comida para promover la excelencia, la sostenibilidad y la diversidad en el mundo culinario. Buscamos ser un puente que conecte a la comunidad gastronómica global, creando un espacio donde la pasión por la comida trascienda fronteras y culturas.
            
            En resumen, nuestra visión es ser la guía definitiva para descubrir la riqueza y variedad de sabores que el mundo tiene para ofrecer, y ser reconocidos como un faro que ilumina el camino hacia experiencias gastronómicas inolvidables y auténticas."
        </p>
    </div> -->


</body>
</html>
